
<h1>{{ title }}</h1>
<h2>{{ name }}</h2>

<button (click)="changeTitle()">Change Title</button> 
<button (click)="changeName()">Change Name</button><br><br>
<input type="text" [(ngModel)]="rockBandName" (keydown.enter)="addRockBand()"><br>
<button (click)="addRockBand()">Add Banda de Rock</button>
<button (click)="empty()">Vaciar coleccion</button>
<h3>{{ rockBandName }}</h3><br> -->


<!--*ngFor-->
<ul> 
  <!--Iterar una lista de forma dinamica-->
  <li *ngIf="rockBands.length === 0"> 
    No hay nada para mostrar
  </li>
  <li *ngFor="let rock of rockBands; index as i">
    {{ i + 1 }} - {{ rock }} 
    <button (click)="deleteItem(i)">Borrar Item</button>
    <button (click)="updateItem(i)">Editar</button>
  </li>
</ul>

<div *ngIf="rockBandName === 'Alex'"> 
  Se ingreso Alex
</div>

<div *ngIf="rockBandName === 'Nataly'"> 
  Se ingreso Nataly
</div> -->

<!--NgSwitch-->
<div [ngSwitch]="rockBandName">
<p *ngSwitchCase="'Carlos'">Se ingreso Carlos</p>
<p *ngSwitchCase="'Marcos'">Se ingreso Marcos</p>
<p *ngSwitchCase="'Ruben'">Se ingreso Ruben</p>
<p *ngSwitchDefault>No hubo coincidencias para NgSwitch</p>
</div> 

<ul>
  <li *ngFor="let user of users"><br>
    <div *ngIf="user.isSingle === true" class="avatar">
      Nombre: {{ user.name }}
      Edad: {{ user.age }}
      Soltero: {{ user.isSingle ? 'Si' : 'No'}}
      Imagen: <img [src]="user.avatar" alt="">
    </div>
    
  </li>
</ul>